@font-face { 
  font-family: Saiyan SansRegular; 
  src: url('../fonts/Saiyan-Sans.ttf');
 }

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Saiyan SansRegular;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url(../images/body-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.grid-container {
  display: grid;
  min-height: 100vh;
  grid-template: 8% 87% 5%/ 1fr;
  grid-template-areas: 
  "header"
  "main"
  "footer";
}

header {
  display: flex;
  grid-area: header;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 30px;
  padding-top: 15px;
}

.settings-button {
  display: flex;
  gap: 20px;
}

button {
  all: unset;
  font-size: 35px;
}

button:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

button:active {
  
}

header img {
  width: 60px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

ul {
  font-size: 2em;
  padding-left: 10px;
}

.modal-content {
  background-color: #FFE6C7;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  border-radius: 10px;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 1em;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: center;
  grid-area: main;
  width: 100%;
}

#game-area {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  width: 530px;
  height: 100%;
  position: relative;
  background-color: #FFE6C7;
  font-size: 2em;
  color: #0e0bb0;
  padding-top: 1em;
  text-align: center;
}

.player {
  width: 70px;
  height: 90px;
  background-size: 70px 90px;
  position: absolute;
  background-image: url(../images/son-goku-player.png);
}

.platform {
  width: 100px;
  background-image: url(../images/cloud-platform.png);
  background-size: 100px 30px;
  height: 30px;
  position: absolute;
}

.scoreboard, .game-over {
  color: #0e0bb0;
  font-size: 1em;
  margin-top: 1em;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
}

/* Media Queries
/* For Tablet */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  #game-area {
    width: 70%;
  }
  
  .logo {
    padding-top: 0;
    gap: 15px;
    font-size: 20px;
  }

  .settings-button {
    gap: 15px;
  }

  button {
    font-size: 30px;
  }

  header img {
    width: 40px;
  }

  .player {
    width: 80px;
    height: 100px;
    background-size: 80px 100px;
  }
  
  .platform {
    width: 110px;
    background-size: 110px 35px;
    height: 35px;
  }

  .scoreboard {
    font-size: 1rem;
  }

  footer {
    font-size: 1.5em;
  }
} 

/* For Mobile Devices */
 @media only screen and (max-width: 600px) {
    #game-area {
      width: 90%;
    }
    
    .logo {
      padding-top: 0;
      gap: 5px;
      font-size: 10px;
    }

    .settings-button {
      gap: 10px;
    }
  
    button {
      font-size: 15px;
    }
  
    header img {
      width: 30px;
    }
  
    .player {
      width: 65px;
      height: 85px;
      background-size: 65px 85px;
    }
    
    .platform {
      width: 90px;
      background-size: 90px 25px;
      height: 25px;
    }

    .scoreboard {
      font-size: 1rem;
    }
  
    footer {
      font-size: 1.2em;
    }
  } 


  
